<h1>Detail for <%= @destination.name %></h1>
<h3>Most recent 5 posts</h3>
<ol>
  <% @posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ol>

<h3>Most likes post: <%= link_to @most_likes.title, post_path(@most_likes) %></h3>

<h3>Average Age who post about <%= @destination.name %>: <%= @average_age %></h3>
